
*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

section {
  position: relative;
  left: 100px;
}

h1 { 
  margin:80px 0 10px 0;
  font-size: 52px;
  color: hsla(330, 2%, 18%, 1);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px hsla(0, 0%, 90%, 1),
	2px 2px 0px hsla(0, 0%, 90%, 1),
	3px 3px 0px hsla(0, 0%, 90%, 1),
	4px 4px 0px hsla(0, 0%, 90%, 1);
}

h2 {
  font-size: 24px;
}
body {
  padding: 40px 0;
	background: rgb(171, 247, 230);
  color: white;
  max-width:640px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  line-height:1.4;
}

nav {
  float: left;
	position: relative;
	top: 0;
  left: 0;
	background: transparent;
}

nav ul {
	text-align: center;
}

nav ul li {
	position: relative;
  width: 70px;
  height: 80px;
  cursor: pointer;
	background:hsla(330, 2%, 18%, 1);
	text-transform: uppercase;
	transition:all .4s ease-out;
}

nav ul li:after {
  content: "";
	position: absolute;
	background:hsla(0, 0%, 90%, 1);
	color: hsla(180, 47%, 31%, 1);
	top:0;
	left: 70px;
	width: 70px; 
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}
/* .link{
  color:rgba(133, 255, 198, 0.478);
  text-decoration: none;
} */
/* .link:nth-child(1){
  content: "About";
} */
nav ul a:nth-child(1) li:after { 
	content: "Home";
	line-height: 80px;
}
nav ul a:nth-child(2) li:after { 
	content: "Add";
	line-height: 80px;
}
nav ul a:nth-child(3) li:after { 
	content: "About";
	line-height: 80px;
}

nav ul a:nth-child(4) li:after { 
	content: "Contact";
	line-height: 80px;
}


nav ul li:hover {
	transform: translateX(-70px);

}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}

nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

.roof {
	width: 0;
	height: 0;
	top:0px;
	border-style: solid;
	border-width: 0 21px 15px 21px;
	border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
	position: absolute;
	z-index: 20;
	left: 18px;
	top: 27px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 12px 17px;
	border-color: transparent transparent hsla(180, 47%, 31%, 1) transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
	position: absolute;
	left: -14.5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14.5px 10px 14.5px;
	border-color: transparent transparent hsla(0, 0%, 90%, 1) transparent;
}

.front {
	position: relative;
	top: 3px;
	width: 28.5px;
	height: 20px;
	margin: 0 auto;
	background: hsla(0, 0%, 90%, 1);
}
/*door*/
.front:after {
	position: absolute;
	background: hsla(330, 2%, 18%, 1);
	width: 11px;
	height: 13px;
	bottom: 0;
	left:9px;
}


/*//work//*/

.paper {
	position: relative;
  top: -5px;
  left: -2px;
	height:32px;
	width: 29px;
	background: white;
	border:2px solid white;
}

/*window*/
.paper:after {
	position: absolute;
	top: 2px;
	left: 0;
	width: 25px;
	height: 29px;
	background: white;
	border-top:4px solid hsla(180, 47%, 31%, 1);
}

.lines {
	position: absolute;
	top: 32px;
	left: 26px;
	width: 11px;
	box-shadow: 0 0 0 1px hsla(180, 47%, 31%, 1);
}

.lines:after {
	position: absolute;
	top: 4px;
	left: 3px;
	width: 14px;
	box-shadow: 0 0 0 1px hsla(180, 47%, 31%, 1);
}

.lines:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 26px;
	width: 11px;
}

.lines:nth-child(2):after {
	position: absolute;
	top: 4px;
	left: 8px;
	width: 11px;
}

.lines:nth-child(3) {
	position: absolute;
	top: 49px;
	left:26px;
	width: 14px;
}

.lines:nth-child(3):after {
	display: none;
}

/*//mail //*/

.mail-base {
	position: relative;
	width: 32px;
	height: 18px;
  left: 0px;
  top: 0px;
	background: white;
}

.mail-top {
	position: absolute;
	z-index: 20;
	left: 0px;
	width: 0;
	height: 0;
	transform: rotate(180deg);
	border-style: solid;
	border-width: 0 16px 11px 16px;
	border-color: transparent transparent hsla(180, 47%, 31%, 1) transparent;
}

.mail-top:after {
	position: absolute;
	z-index: 20;
	left: -16px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16px 9px 16px;
	border-color: transparent transparent white transparent;
}

